<h2>Contacts</h2>
<p>Page for your feedback</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Email</label>
    <input name="email" type="text" class="form-control" placeholder="your email address">
  </div>

  <div class="form-group">
    <label>Feedback</label>
    <textarea name="message"class="form-control" rows="5" placeholder="Text your feedback here"></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>

</form>
